body {
    background-color:aquamarine
}

#firstPage {
    margin-top:200px;
    text-align:center;
    color:black;
}

#answers div:hover {
    cursor: pointer;
    color:gray;
}

#questions {
    font-size:30px;
}

header {
    text-align:right; 
    margin-top:1px;
    justify-content: space-between;
}